@import '../../sass/general/variables'

.login_parent
    display: flex
    flex-direction: column
    justify-content: space-around
    height: 100%
.login
    min-height: 600px
    &_wrapper
        display: grid
        grid-template-areas: "rec-logins login"
        grid-template-columns: 3.2fr 2fr
        grid-gap: 30px
        padding: 70px 0 20px 0

.footer
    background-color: $elemBackgroundColor
    height: 150px
    &_wrapper
        padding: 20px 0 20px 0